[submodule "basic_functions"]
	path = useless_submodule
	url = https://github.com/anish-lu-yihe/basic_functions
	branch = main
[submodule "common_functions"]
	path = common_functions
	url = https://github.com/anish-lu-yihe/common_functions
